<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarnetContactStart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>domain.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewContact</display-name>
    <servlet-name>NewContact</servlet-name>
    <servlet-class>domain.NewContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewContact</servlet-name>
    <url-pattern>/NewContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>domain.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyContact</display-name>
    <servlet-name>ModifyContact</servlet-name>
    <servlet-class>domain.ModifyContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyContact</servlet-name>
    <url-pattern>/ModifyContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindContact</display-name>
    <servlet-name>FindContact</servlet-name>
    <servlet-class>domain.FindContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindContact</servlet-name>
    <url-pattern>/FindContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewGroup</display-name>
    <servlet-name>NewGroup</servlet-name>
    <servlet-class>domain.NewGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGroup</servlet-name>
    <url-pattern>/NewGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGroup</display-name>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>domain.DeleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/DeleteGroup</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
        org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
        org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>
</web-app>